/* .tile to create a div class called tile */
/* #tile to create an id class called tile */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* page */
body {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

/* game layout */
#game-backdrop {
  /* variables */
  --grid-size: 5;
  --tile-size: 15vmin;
  --tile-gap: 2vmin;
  --border-radius: 2vmin;

  /* colours */
  background-color: rgb(14, 151, 151);

  /* grid */
  display: grid;
  grid-template-rows: repeat(var(--grid-size), var(--tile-size));
  grid-template-columns: repeat(var(--grid-size), var(--tile-size));
  gap: var(--tile-gap);
  border-radius: var(--border-radius);
  padding: 2vmin;
  position: relative;
  /* for moving tiles, makes tiles position absolute, and than relatively position them */
}

/* tile layout */
.tile {
  background-color: black;
  border-radius: var(--border-radius);
}

/* putting values into the game and changing location */
.value {
  /* HSL to determine colour which helps player know their progress and 
  difficulty within the game  */
  --tile-hue: 200;
  --tile-saturation: 50%;
  --tile-lightness: 80%;
  --value-hue: 200;
  --value-saturation: 25%;
  --value-lightness: 20%;
  /* coordinates, x and y for positioning */
  /* if you change the x and y poition the tile will automatically go to that spot */
  --x: 0;
  --y: 0;
  /* positioning, absolute stops the value from changing the game layout */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: var(--border-radius);
  /* positioning the x and y coordinates */
  top: calc(var(--y) * (var(--tile-size) + var(--tile-gap)) + var(--tile-gap));
  left: calc(var(--x) * (var(--tile-size) + var(--tile-gap)) + var(--tile-gap));
  /* HSL, hue, saturation and lightness */
  background-color: HSL(
    var(--tile-hue),
    var(--tile-saturation),
    var(--tile-lightness)
  );
  color: HSL(var(--value-hue), var(--value-saturation), var(--value-lightness));
  /* animation */
  animation: show 200ms ease-in-out;
  /* transition for when moving tiles */
  transition: 200ms ease-in-out;
}
/* animation */
@keyframes show {
  10% {
    opacity: 0.5;
    transform: scale(0);
  }
}
